{
  "$schema": "https://aiwg.io/schemas/aiwg.config.v1.json",
  "version": "1",
  "providers": [
    "claude",
    "codex"
  ],
  "installed": {
    "sdlc": {
      "version": "2026.4.0-rc.16",
      "source": "bundled",
      "installedAt": "2026-04-14T04:09:14.936Z",
      "deployedTo": {
        "claude": {
          "agents": 180,
          "commands": 0,
          "skills": 356,
          "rules": 1
        },
        "copilot": {
          "agents": 117,
          "commands": 298,
          "skills": 298,
          "rules": 0
        }
      },
      "manifestHash": "sha256:74c9765713c21eba56e6de9854b749b9b3b66b57f543da57a2818e1675069f24"
    },
    "media-marketing": {
      "version": "1.0.0",
      "source": "bundled",
      "installedAt": "2026-01-13T20:38:34.334Z",
      "deployedTo": {
        "claude": {
          "agents": 180,
          "commands": 0,
          "skills": 356,
          "rules": 1
        }
      }
    },
    "all": {
      "version": "2026.4.0-rc.13",
      "source": "bundled",
      "installedAt": "2026-04-06T06:48:23.018Z",
      "deployedTo": {
        "claude": {
          "agents": 180,
          "commands": 0,
          "skills": 356,
          "rules": 13
        },
        "codex": {
          "agents": 176,
          "commands": 0,
          "skills": 0,
          "rules": 2
        }
      },
      "manifestHash": "sha256:74c9765713c21eba56e6de9854b749b9b3b66b57f543da57a2818e1675069f24"
    }
  },
  "scripts": {}
}
