{
  "$schema": "https://aiwg.io/schemas/aiwg.config.v1.json",
  "version": "1",
  "providers": [
    "claude"
  ],
  "installed": {
    "sdlc": {
      "version": "2026.4.0",
      "source": "bundled",
      "installedAt": "2026-04-05T14:16:13.356Z",
      "deployedTo": {
        "claude": {
          "agents": 180,
          "commands": 0,
          "skills": 368,
          "rules": 13
        },
        "copilot": {
          "agents": 117,
          "commands": 293,
          "skills": 292,
          "rules": 33
        },
        "codex": {
          "agents": 113,
          "commands": 0,
          "skills": 0,
          "rules": 33
        }
      },
      "manifestHash": "sha256:0cfa684a1989f83f0b2bd7d37855842ad467f3da4f297fd208ea631348cb4639"
    },
    "media-marketing": {
      "version": "1.0.0",
      "source": "bundled",
      "installedAt": "2026-01-13T20:38:34.334Z",
      "deployedTo": {}
    },
    "all": {
      "version": "2026.4.0-rc.9",
      "source": "bundled",
      "installedAt": "2026-04-05T05:35:20.287Z",
      "deployedTo": {
        "claude": {
          "agents": 180,
          "commands": 0,
          "skills": 356,
          "rules": 13
        }
      },
      "manifestHash": "sha256:0cfa684a1989f83f0b2bd7d37855842ad467f3da4f297fd208ea631348cb4639"
    }
  },
  "scripts": {}
}
